.feed {
    flex: 6;
    margin: 10px;
    padding: 10px;
}

.feed h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 10px;
    font-size: 3rem;

}

@media screen and (max-width:850px) {
    .feed h1{
        font-size: 2rem;
    }
}
@media screen and (max-width:650px) {
    .feed h1{
        font-size: 1.5rem;
    }
    .feed{
        flex: 70%;
    }
}
@media screen and (max-width:550px) {
    .feed h1{
        font-size: 1.2rem;
    }
    .feed{
        flex: 70%;
    }
}